<div
  *ngIf="!open"
  class="ml-0.5 mt-0.5 px-4 py-1 bg-gray-300 text-white border-0 rounded-md flex-row flex justify-between text-sm cursor-default"
  [ngClass]="elements.length > 1?'bg-gray-600 hover:border-4 hover:border-blue-400':'bg-gray-300'"
>
  <div
    *ngIf="elements.length == 1"
  >
    <p>{{elements[0].name}}</p>
  </div>

  <div
    *ngIf="elements.length > 1"
    class="flex flex-row cursor-pointer"
    (click)="nextView()"
  >
    <p>{{group.name}}
      <span
        *ngIf="elements.length > 1"
        class="mx-1"
      >
      ({{elements.length}})
    </span>
    </p>
  </div>
  <button
    (click)="groupClosed.emit(group)"
    class=" text-sm text-white ml-1"
  >x
  </button>
</div>
<div
  *ngIf="open"
  class="ml-0.5 mt-0.5 px-4 py-1 bg-gray-300 text-white border-0 rounded-md flex-col flex text-sm cursor-default"
>
  <div *ngFor="let element of elements"
       class="flex flex-row justify-between">
    <p
      (click)="nextView()"
      class="flex-grow cursor-pointer"
    >{{element.name}}</p>
    <button
      (click)="elementClosed.emit(element)"
      class="flex-grow-0 text-sm text-white ml-1"
    >x</button>
  </div>
</div>
