<h1 class="text-center font-bold text-lg mb-4">Справочник: "{{dictionary.name}}"</h1>
<p
  [ngClass]="!dictionary.description?'italic':''"
  class="text-center mb-6">{{dictionary.description?dictionary.description:'Описание не добавлено'}}</p>
<hr class="mb-6"/>

<table class="w-full">
  <tr>
    <td *ngFor="let field of dictionary.fields;"
        class="px-4 py-2 border text-center font-bold bg-blue-600 text-white"
        [ngClass]="[field.required?'bg-amber-300':'',
        field.unique?'bg-red-600':'',
        field.unique && field.required?'bg-gradient-to-l from-amber-300 to-red-600':''
        ]"
    >
      {{field.name}}</td>
  </tr>
  <tr class="flex-row"
      *ngFor="let item of items">
    <td *ngFor="let field of dictionary.fields"
        class="px-4 py-2 border text-center grow"
        [ngClass]="[field.required?'font-bold':'']">
      {{getValue(field, item)}}
    </td>
  </tr>
</table>
