<div *ngIf="dictionary">
  <h1 class="text-center font-bold text-lg mb-4">Справочник: "{{dictionary.name}}"</h1>
  <p
    [ngClass]="!dictionary.description?'italic':''"
    class="text-center mb-6">{{dictionary.description ? dictionary.description : 'Описание не добавлено'}}</p>
  <hr class="mb-6"/>

  <table class="w-full">
    <tr>
      <td *ngFor="let field of dictionary.fields;"
          class="px-4 py-2 border text-center font-bold bg-blue-600 text-white"
          [ngClass]="[field.required?'bg-amber-300':'',
        field.unique?'bg-red-600':'',
        field.unique && field.required?'bg-gradient-to-l from-amber-300 to-red-600':''
        ]"
      >
        {{field.name}}</td>
    </tr>
    <tr class="flex-row" *ngFor="let item of items">
      <td *ngFor="let field of dictionary.fields"
          class="px-4 py-2 border text-center grow"
          [ngClass]="[field.required?'font-bold':'']">
        {{getValue(field, item)}}
      </td>
      <td class="pl-4">
        <button
          class="transition ease-in-out bg-amber-600 hover:-translate-y-1 hover:scale-110  hover:bg-amber-300 duration-300 h-[50px] w-[50px] border px-2 py-2 mr-5 rounded-full text-white">
          Edit
        </button>
        <button
          (click)="delete(item.id)"
          class="transition ease-in-out bg-red-600 hover:-translate-y-1 hover:scale-110  hover:bg-red-300 duration-300 h-[50px] w-[50px] border px-2 py-2 mr-5 rounded-full text-white">
          Del
        </button>
      </td>
    </tr>
    <button
      (click)="createModal.open()"
      class="w-[60px] h-[60px] font-bold rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-4 px-4 hover:bg-red-300">
      +
    </button>
    <app-modal
      #createModal
      title="Новая запись в справочник '{{dictionary.name}}'"
    >
      <app-dictionary-item-editor
        [fields]="dictionary.fields"
        [dictionary]="dictionary"
      ></app-dictionary-item-editor>
    </app-modal>
  </table>

  <p *ngIf="items && items.length==0">Нет записей</p>
</div>
