tr:hover .btn{
  background-color: #dc2626;
}

.btn-col:hover .btn{
  background-color: #fca5a5;
}

.btn-col{
  background-color: white;
  border: white;
}

tr:hover .table-data{
  background-color: #93c5fd;
}

tr:hover .btn-col{
  background-color: white;
  border-color: white;
}
