<div class="rounded-2xl  border text-lg text-left rounded flex items-center flex-row mb-2
  transition ease-in-out hover:scale-105 duration-300
  hover:text-blue-500 hover:bg-gray-200">
  <a class="pl-6 pr-2 py-8 grow text-lg flex text-center flex-row font-bold"

     [routerLink]="['/dictionaries',dictionary.id]"
  >{{ dictionary.name }}</a>
  <div class="py-4 px-6">
    <button
      (click)="createModal.open()"
      class="transition ease-in-out bg-amber-600 hover:-translate-y-1 hover:scale-110  hover:bg-amber-300 duration-300 h-[50px] w-[50px] border px-2 py-2 mr-5 rounded-full text-white">
      Edit
    </button>
    <button
      (click)="service.delete(dictionary)"
      class="transition ease-in-out bg-red-600 hover:-translate-y-1 hover:scale-110  hover:bg-red-300 duration-300 h-[50px] w-[50px] border px-2 py-2 mr-5 rounded-full text-white">
      Del
    </button>
  </div>
</div>
<app-modal
  #createModal
  title="Изменение справочника: '{{dictionary.name}}'">
  <app-dictionary-editor [dictionary]="dictionary" [visible$]="createModal.visible$"></app-dictionary-editor>
</app-modal>
