<div *ngIf="visible$ | async">
  <div
    class="bg-black/50 fixed top-0 right-0 left-0 bottom-0"
    (click)="close()"
  ></div>

  <div class="absolute rounded-2xl top-16  bg-white left-1/2 -translate-x-1/2">
    <nav class=" relative flex p-3 bg-gray-200 rounded-t-2xl">
      <h1 class="text-center grow font-bold text-lg pt-1">{{title}}</h1>
      <button class="font-bold text-2xl"
        (click)="close()"
      >
        &times;
      </button>
    </nav>
    <div class="p-6 rounded-b-2xl border-2">
      <ng-content></ng-content>
    </div>
  </div>
</div>
